.card-header {
  padding: 16px;
}
  .card-header h2 {
    font-size: 1.8rem;
  }

  .card-header h3 {
    color: rgba(255, 255, 255, 0.45);
    font-size: 1.0rem;
  }

.card-section {
  height: 32px;

  background-color: #000;

  font-size: 1.0rem;
  line-height: 32px;
  text-align: center;
}

.tiles {
  display: table;
  table-layout: fixed;
  width: 100%;
}
  .tiles .tile {
    display: table-cell;
    padding: 20px 0;
  }

.tile {}

  .tile span {
    display: block;

    text-align: center;
  }

  .tile .title {
    color: rgba(255, 255, 255, 0.45);
    font-size: 1.0rem;
  }

  .tile .primary {
    padding: 4px 0;
    font-size: 2.0rem;
  }

  .tile .secondary {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.2rem;
  }

.actions {
  display: table;
  position: absolute;
  /* Magic Number: modals have 8px of padding. */
  bottom: 0px;
  width: 100%;
  table-layout: fixed;

  border-spacing: 8px;
}
  .actions .action {
    display: table-cell;
  }

.btn {
  height: 44px;

  border: 1px solid #463d3b;
  border-radius: 2px;

  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  line-height: 44px;
  text-align: center;

  -webkit-transition: all 1.0s;
  transition: all 1.0s;
}
  .btn:hover, .btn:focus, .btn:active {
    background-color: rgba(255, 255, 255, 0.1);

    -webkit-transition: all 0.15s;
  transition: all 0.15s;
  }
  .btn.primary {
    color: #88ab8a;
  }