.hide-on-edit { display: block; }
.show-on-edit { display: none; }

.edit .hide-on-edit { display: none; }
.edit .show-on-edit { display: block; }

.tile-flip {
  -webkit-perspective: 1000;
}

.tile-flip.flip .flipper {
  -webkit-transform: rotateY(180deg);
}

.tile-flip, .front, .back {
  background: rgba(255, 255, 255, 0.85);
  height: 500px;
  width: 300px;
}

.flipper {
  transition: 0.85s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  border: 1px solid #000;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back { -webkit-transform: rotateY(180deg); }

/* Modal */
main { transition: all 0.25s; }
.modal, .modal-cover { opacity: 0; visibility: hidden; transition: all 0.25s; }

.modal {
  background: #fff;
  border: 1px solid #000;
  position: fixed;
  left: 50%;
  height: 100px;
  width: 200px;
  z-index: 20;
  -webkit-transform: translateX(-50%);
}

.modal-cover {
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.modal-show, .modal-show ~ .modal-cover {
  opacity: 1;
  visibility: visible;
}
.modal-show ~ main {
  -webkit-filter: blur(2.5px);
}

/* Tiles */
ul.tile-container {
  border-bottom: 1px solid #f0f;
  display: table;
  padding: 0;
}

.tile {
  display: table-cell;
}

.tile.title, .tile.primary, .tile.secondary {
  text-align: center;
}
.tile.title {

}
.tile.primary {

}
.tile.secondary {

}