/* New states */

.de-em {
  color: rgba(255, 255, 255, 0.25);
  /* Use `em` so this is always smaller than the adjoining text. */
  font-size: 0.6em;
}

/* States to organize */

.hide-on-edit { display: block; }
.show-on-edit { display: none; }

.edit .hide-on-edit { display: none; }
.edit .show-on-edit { display: block; }

.tile-flip {
  -webkit-perspective: 1000;
}

.tile-flip.flip .flipper {
  -webkit-transform: rotateY(-180deg);
}

.flipper {
  -webkit-transition: 0.85s;
  transition: 0.85s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back { -webkit-transform: rotateY(180deg); }

/* Modal */
#content { -webkit-transition: all 0.5s; transition: all 0.5s; -webkit-filter: blur(0); }
.modal, .modal-cover { opacity: 0; visibility: hidden; -webkit-transition: all 0.5s; -webkit-transition-delay: 0; transition: all 0.5s; }

.modal {
  position: fixed;
  left: 50%;
  z-index: 20;
  -webkit-transform: translateX(-50%);
}

.modal-cover {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.modal-show { -webkit-transition-delay: 0.5s; }

.modal-show, .modal-show ~ .modal-cover {
  opacity: 1;
  visibility: visible;
}
.modal-show ~ #content {
  -webkit-filter: blur(10px);
}