<div class="l-modal modal">{{outlet modal}}</div>
<div class="modal-cover"></div>

<div id="content">

  <header id="header">
    <h1>Magic Stash: Player</h1>
  </header>

  <div id="main">
    {{outlet}}
  </div>

</div>