<div class="l-modal modal">{{outlet modal}}</div>
<div class="modal-cover"></div>

<div id="content">

  <header id="header">
    <h1>Magic Stash: Player <a href="#" onclick="javascript:window.location.reload()" class="de-em">Reload</a></h1>
  </header>

  <div id="main">
    {{outlet}}
  </div>

</div>