<h2 class="card-section">Experience Points</h2>
{{input type=text value=xpModifier}}
<p>{{modifier xpModifier}}</p>
<div class="actions">
  <a class="action btn" href="#" {{action closeModal}}>Cancel</a>
  <a class="action btn primary" href="#" {{action commitAddXP}}>OK</a>
</div>